<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Ardkeen CoderDojo - {{ page.title }}</title>
		<meta name="viewport" content="width=device-width">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="description" content="Ardkeen CoderDojo" />
    <link rel="stylesheet" type="text/css" href="{{site.url}}/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{site.url}}/assets/css/font-awesome.min.css">
    <script src="{{site.url}}/assets/js/jquery-3.2.1.min.js"></script>
    <script src="{{site.url}}/assets/js/bootstrap.min.js"></script>
	</head>
	<body>
    <script>
      document.documentElement.className += (("ontouchstart" in document.documentElement) ? ' touch' : ' no-touch');
    </script>
    <header>
      <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="{{site.url}}/">
          <img src="{{site.url}}//assets/website/logo.svg" width="120" height="30" class="d-inline-block align-top" alt="Ardkeen CoderDojo">
        </a>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="{{site.url}}/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{site.url}}/project">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{site.url}}/mentors">Mentors</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{site.url}}/blog">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{site.url}}/contact">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{site.url}}/faq">FAQ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.facebook.com/coderdojoardkeen/">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <div class="container">
      {{content}}
      <nav class="navbar navbar-dark bg-dark">
        <span class="navbar-text">
          <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">
            <img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/80x15.png"/>
          </a> Coder Dojo Ardkeen website is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons License</a>
        </span>
      </nav>
    </div>
  </body>
  <script>
    ((window.gitter = {}).chat = {}).options = {
      room: 'Coderdojo-Ardkeen/Lobby'
    };
  </script>
  <script src="https://sidecar.gitter.im/dist/sidecar.v1.js" async defer></script>
</html>